.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.closedDataField {
    display: inline-block;
    padding: 5px;
    width: 180px;
    cursor: pointer;
    border-right: solid black 1px;
}

.openedDataField {
    width: 180px;
    height: 30px;
    background-color: #ffffb3;
    min-height: 30px;
    max-height: 30px;
    border-right: solid black 1px;
}

.bold {
    font-weight: bold;
}

li {
    list-style: none;
}

div {
    text-align: left;
}

.All {
    position: relative;
}

.submitButton {
    display: block;
    text-align: right;
    position: fixed;
    right: 10%;
    top: 40%;
}

.submitButton div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.changedRed {
    background-color: red;
}

.unchangedGreen {
    background-color: green;
}

.new_item {
    background-color: yellow;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
