.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.closedDataField {
    display: inline-block;
    padding: 5px;
    width: 15%;
    cursor: pointer;
    border-right: solid black 1px;
}

.openedDataField {
    width: 15%;
    height: 30px;
    background-color: #ffffb3;
    min-height: 30px;
    max-height: 30px;
    border-right: solid black 1px;
}

.select {
    display: inline-block;
    padding: 5px;
    width: 15%;
    cursor: pointer;
    border-right: solid black 1px;
}

.bold {
    font-weight: bold;
}

li {
    list-style: none;
}

div {
    text-align: left;
}

.All {
    position: relative;
}

.submitButton {
    display: block;
    text-align: right;
    position: fixed;
    right: 15%;
    top: 40%;
}

.submitButton div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.changedRed {
    background-color: red;
}

.unchangedGreen {
    rder: none;
        min-width: 200px;/
    background-color: green;
}

.new_item {
    background-color: yellow;
}

.del_btn {
    display: inline-block;
    width: 50px;
    text-align: center;
    padding: 5px;
    border: solid 1px darkred;
    border-radius: 5px;
    margin-left: 0px;
    z-index: 100;
    background-color: red;
    margin: 2px 0px;
    cursor: pointer;
}

.deletedMsg {
    color: red;
}

.header {
    text-align: center;
}

.header_link {
    padding: 5px;
}


.register {
    text-align: center;
}

.register .new_item {
    height: 30px;
    width: 50%;
    text-align: center;
    margin-bottom: 2px;
    vertical-align: middle;
    border: 1px dashed black;
    background-color: #fff !important;
    line-height: 30px;
}

.register .openedDataField {
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.submRegister {
    background-color: lightgray;
    height: 30px;
    display: inline-block;
    width: 50%;
    padding: 5px;
    font-weight: bold;
}

.submRegister .closedDataField {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
}

.allPlaces {
    text-align: center;
    position: relative;
}

.myPlace {
    text-align: left;
}

.placeHeader {
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: blue;
    min-height: 50px;
}

.placeContent {
    margin-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

.placeHeader p, .placeContent p {
    display: inline-block;
    width: 14%;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.placeContent p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
}

.placeHeader p.longer, .placeContent p.longer {
    width: 65%;
}

.placeContent .placeViewOpened {
    background-color: yellow;
    padding: 5px;
    text-align: center;
}
.placeViewOpened .closedDataField {
    background-color: green;
    border: none;
    min-width: 200px;
}

.placeViewOpened .openedDataField {
    border: none;
    min-width: 200px;
}

.placeFields {
    padding-top: 10px;
}

.placeViewOpened .column {
    background-color: red;
    min-width: 24%;
    max-width: 30%;
    padding: 20px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

.placeViewOpened .column img {
    width: 100%;
}

.placeViewOpened .mapHolder {
    min-width: 90%;
    max-width: 93%;
    margin: 5px 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
